<div class="container-scrollable" data-controller="image-preview">
  <h2 class="style-title"><%= @collection.name %></h2>
  <%= form_with model: @collection, class: "form-capsule" do |f| %>
    <%= f.text_field :name,
                label: false,
                class: "input-form" %>
    <div class="actions-save">
      <%= link_to "â† Retour", collection_categories_path(@collection), class: "btn-action" %>
      <%= f.submit "Sauvegarder", class: "btn-action" %>
    </div>
  <% end %>
</div>
