<div class="user-head">
  <h2 class="style-title">Hello <%= current_user.username %></h2>
  <%= cl_image_tag current_user.avatar.key, class:"avatar" if current_user.avatar.present? %>
</div>

<div class="cards-wrapper">
  <% @collections.each do |collection| %>
    <%= link_to collection_categories_path(collection) do %>
    <div class="collection-card" style="background-image: url(<%= asset_path('default_collection.jpg') %>)">
      <div class="collection-overlay">
        <h2><%= collection.name %></h2>
      </div>
    </div>
    <% end %>
  <% end %>

<% if @collections.empty? %>
  <div class="empty-state">
    <div class="mascotte-wrapper">
      <%= image_tag "mascotte.png", class: "empty-robot", alt: "Mascotte robot" %>
      <p class="empty-text">Ta capsule est vide…</p>
      <p class="empty-sub">Clique sur <span class="plus-sign">+</span> pour créer ta première collection</p>

    </div>
  </div>
<% end %>

</div>
