<div class="container-scrollable">
  <h1>COLLECTION SHOOW DO NOT SHOOOOW</h1>
  <h2 class="style-title"><%= @collection.name %></h2>
  <div class="item-actions">
    <%= link_to "â† Retour", collections_path, class: "btn-action" %>
    <%= link_to "âœï¸ Modifier", edit_collection_path(@collection), class: "btn-action" %>
    <%= link_to "ðŸ—‘ï¸ Supprimer", collection_path(@collection),
        method: :delete, data: { turbo_confirm: "Supprimer cette collection ?" }, class: "btn-action delete" %>
  </div>

  <div class="cards-wrapper">
    <% @collection.categories.each do |category| %>
      <%= link_to collection_category_path(@collection, category) do %>
        <div class="collection-card" style="background-image: url('<%= category.photo.attached? ? url_for(category.photo) : asset_path('default_collection.jpg') %>')" %>)">
          <div class="collection-overlay">
            <h2><%= category.name %></h2>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>

</div>


