<div class="home-banner" data-controller="image-preview">
  <h2 class="style-title"><%= t(".sign_up") %></h2>

<%= form_with model: resource,
              scope: resource_name,
              url: registration_path(resource_name),
              local: true,
              class: "form-capsule" do |f| %>

  <% if resource.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(resource.errors.count, "erreur") %> :</h2>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.text_field :username,
          required: true,
          autofocus: true,
          class: "input-form",
          autocomplete: "first name",
          placeholder: "Nom d’utilisateur" %>

    <%= f.email_field :email,
          required: true,
          autofocus: true,
          class: "input-form",
          autocomplete: "email",
          placeholder: "Email" %>

    <%= f.password_field :password,
          required: true,
          class: "input-form",
          autocomplete: "new-password",
          placeholder: "Mot de passe" %>
    <% if @minimum_password_length %>
      <p class="hint"><%= t("devise.shared.minimum_password_length", count: @minimum_password_length) %></p>
    <% end %>

    <%= f.password_field :password_confirmation,
          required: true,
          class: "input-form",
          autocomplete: "new-password",
          placeholder: "Confirmation du mot de passe" %>

    <label class="image-upload-label">
      Choisir un avatar
      <%= f.file_field :avatar,
            required: true,
            class: "hidden",
            data: {image_preview_target: "master", action:"change->image-preview#addFiles"} %>
    </label>

    <div class="preview-grid new-grid mb-3" data-image-preview-target="list"></div>
  </div>

  <div class="form-actions">
    <%= f.submit t(".sign_up"), class: "submit-form" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>

</div>
