<%= form_with model: [collection, category] do |f| %>
  <div class="form-group">
    <%= f.label :name, "Type de catégorie" %>
    <%= f.select :name, options_for_select(Category::NAME), {}, { class: "cyber-input" } %>
  </div>

  <div class="form-actions" style="text-align: center; margin: 2rem 0;">
    <%= link_to collections_path, class: "cyber-btn secondary mb-3" do %>
      <i class="fas fa-arrow-left"></i>
      Retour
    <% end %>
    <%= f.submit "CRÉER CATÉGORIE", class: "cyber-btn success" %>
  </div>
<% end %>
