<div data-controller="image-preview">
  <%= form_with model: item, url: collection_category_items_path(collection, category), scope: :item do |f| %>
    <%= f.hidden_field :type %>
    <%= f.hidden_field :source %>
    <%= f.hidden_field :source_id %>
    <%= f.hidden_field :barcode %>

    <%= f.file_field :photos,
            id: "item_photos",
            multiple: true,
            accept: "image/*",
            class: "image-input",
            data: { action: "change->image-preview#update", image_preview_target: "input" } %>
    <label for="item_photos" class="image-upload-label">Choisir une image</label>
    <div class="preview-grid new-grid mb-3" data-image-preview-target="list"></div>
    <div>
      <%= f.text_field :name, class: "input-form" %>
    </div>

    <div class= "select-form">
      <%= f.select :state, options_for_select(%w[Neuf Bon Moyen Mauvais], item.state) %>
    </div>

    <div class="label_add">
      <%= f.label :prix %>
      <%= f.number_field :price, step: 0.01, class: "input-form" %>
    </div>

    <div class="label_add">
      <%= f.label :nombres %>
      <%= f.number_field :possession, class: "input-form" %>
    </div>

    <div class="label_add">
      <%= f.label :metadata_authors, "Auteur(s)" %>
      <%= text_field_tag "item[metadata][authors]", item.metadata["authors"]&.join(", "), class: "input-form" %>
    </div>

    <div class="label_add">
      <%= f.label :metadata_publisher, "Éditeur" %>
      <%= text_field_tag "item[metadata][publisher]", item.metadata["publisher"], class: "input-form" %>
    </div>

    <div class="label_add">
      <%= f.label :metadata_language, "Langue" %>
      <%= text_field_tag "item[metadata][language]", item.metadata["language"], class: "input-form" %>
    </div>

    <div class="label_add">
      <%= f.label :metadata_published_date, "Année de publication" %>
      <%= text_field_tag "item[metadata][published_date]", item.metadata["published_date"], class: "input-form" %>
    </div>

    <div class="label_add">
      <%= f.label :metadata_description, "Résumé" %>
      <%= text_area_tag "item[metadata][description]", item.metadata["description"], rows: 6, class: "input-form" %>
    </div>

    <%= f.submit "Créer l’objet", class: "submit-form mb-5" %>
  <% end %>
</div>
