<%= form_with model: item, url: collection_category_items_path(collection, category), scope: :item do |f| %>
  <%= f.hidden_field :type %>
  <%= f.hidden_field :source %>
  <%= f.hidden_field :source_id %>
  <%= f.hidden_field :barcode %>

  <div>
    <%= f.label :name, "Titre" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :state %>
    <%= f.select :state, options_for_select(%w[Neuf Bon Moyen Mauvais], item.state) %>
  </div>

  <div>
    <%= f.label :possession %>
    <%= f.number_field :possession %>
  </div>

  <%= f.file_field :photos,
        id: "item_photos",
        multiple: true,
        accept: "image/*",
        class: "image-input",
        data: { action: "change->image-preview#update", image_preview_target: "input" } %>
  <label for="item_photos" class="image-upload-label">Choisir une image</label>

  <%# f.label :metadata, "Détails (JSON)" %>
  <%#f.text_area :metadata, value: JSON.pretty_generate(item.metadata || {}), rows: 6 %>

  <%= f.submit "Créer l’objet" %>
<% end %>
