<div data-controller="toggle barcode" data-barcode-intake-url-value="<%= intake_collection_category_items_path(@collection, @category) %>"
    data-barcode-new-url-value="<%= new_collection_category_item_path(@collection, @category) %>">

  <h2 class="style-title">J'ajoute un livre:</h2>
  <div class="buttons-select">
    <div class="d-flex m-2 align-items-baseline">
      <button class="image-upload-label-nrm" data-toggle-target="checkPossess" data-action="click->toggle#toggleCheckbox click->barcode#startScan">Que j'ai déjà</button>
    </div>
    <div class="d-flex m-2 align-items-baseline">
      <button class="image-upload-label-nrm" data-toggle-target="checkSearch" data-action="click->toggle#toggleCheckbox">Que je recherche</button>
    </div>
  </div>

  <div
    data-toggle-target="scan"
    class="scanner-container d-none mt-3"
  >
    <video data-barcode-target="video" playsinline muted autoplay style="width:100%;max-width:520px;border-radius:12px;"></video>

    <div class="stop-scan">
      <button type="button" class="image-upload-stop" data-action="click->barcode#stopScan">⏹️ Stop</button>
      <%# <button type="button" class="image-upload-label" data-action="click->barcode#submit" data-barcode-target="submitButton" disabled>
        Envoyer vers intake (POST)
      </button> %>
    </div>

    <input type="file" accept="image/*" capture="environment" data-action="change->barcode#decodeFile">

    <%# <pre data-barcode-target="output" style="white-space:pre-wrap;margin-top:12px;">En attente…</pre> %>
    <div class="form-scan">
      <%= form_with url: intake_collection_category_items_path(@collection, @category),
                  method: :post, local: true, data: { turbo: false } do %>
        <em><%= label_tag :barcode, "Si le scan ne reconnait pas le livre, entrez un code-barre ici", class: "label-form" %></em>
        <div class="d-flex">
          <%= text_field_tag :barcode, nil, placeholder: "9782070368228", class: "input-form" %>
          <%= submit_tag "Ajouter" %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="add-books d-none" data-toggle-target="addBook" data-controller="add-book">
    <%= render "add_book", collection: @collection, category: @category, item: Item.new %>
  </div>
</div>
