<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Capsule" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="theme-color" content="#111111">
    <meta name="background-color" content="#111111">
    <meta name="msapplication-navbutton-color" content="#111111">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <div class="container-scrollable">
      <%= yield %>
      <% if current_user && !(controller_name == 'pages' && action_name == 'home') && controller_path.exclude?('devise') %>
        <%= render "shared/navbar" %>
      <% end %>
    </div>

    <div data-controller="scanner-loader"
        data-scanner-loader-target="overlay"
        id="scanner-loader"
        class="scanner-hidden">
      <div data-scanner-loader-target="bar" class="scanner-bar"></div>
    </div>

  </body>
</html>
